:host {
  #exampleColorInput {
    min-width: 2.5rem;
  }
  .color-box {
    min-width: 2rem;
    min-height: 2rem;
  }
}


/* dropboxlist.component.scss */

.breadcrumb {
  background-color: transparent;
  padding: 0.5rem 1rem;
}

.folder-file-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.folders, .files {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.folder-card, .file-card {
  width: 150px;
  cursor: pointer;
  text-align: center;
}

.folder-card mat-icon {
  font-size: 48px;
  color: #3f51b5;
}

.file-card img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}


.file-upload-progress {
  margin-bottom: 15px;
}

.file-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.status {
  font-size: 18px;
}

.status.success {
  color: green;
}

.status.error {
  color: red;
}

.error-message {
  color: red;
  font-size: 12px;
}




.upload-status {
  margin-top: 20px;
}

.file-upload-status {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.file-upload-status span {
  flex: 1;
}

.error-text {
  color: red;
  margin-left: 10px;
}

.file-progress-list{
	max-height: 100vh;
    overflow: scroll;
}

